node_modules/
.terraform/
**/.terraform/*
*.tfstate
*.tfstate*
*.tfvars
!*.tfvars.example
.env
.DS_Store
dist/
*.zip
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store
.vscode/*
!.vscode/settings.json
artifacts/
